body{
background-color:C4B2FF;	
}
footer{
	background-color:#73FFB0;
}
img{
	width:300px;
	height:200px;
	margin:10px;
	padding:5px;
}
div{
	display:inline-block;
	text-align:center;
}
a{
	text-decoration:none;
}